<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="manage-systems-teacher.css">
  </head>

  <body>

    <div class="box">
      <fieldset>
        <legend>Manage system versions</legend>
        <button id="manage-systems-teacher-switcher">Invert Versions</button>
        <br>
        <button id="manage-systems-teacher-choice">Let students select version</button>
      </fieldset>


      <table id="manage-systems-teacher-table">
        <tr>
          <th>Full Name</th>
          <th>Special Name</th>
          <th>Standard Internalisation</th>
          <th>Gamified?</th>
        </tr>
      </table>
    </div>



  </body>
</html>
