<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="profile.css">
  </head>

  <body>
    <div class="box">
      <h3>Your scores in standard learning</h3>


      <div id="profile-std-selector"></div>
      <hr>
      <div id="profile-std-internalisation-level-div" style="display:none;">
        <label>Level: </label><label id="profile-std-internalisation-level-label"></label>
      </div>

      <hr>
      <div id="profile-std-internalization-progress"></div>



    </div>

  </body>
</html>
