.error-text{
    color: red;
    font-weight: bold;
}

hr {
    display: block;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: 1px;
    margin-right: 1px;
    border-width: 1px;
}

input
{
	border-width: 2px;
}