<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assignments-teacher.css">
  </head>

  <body>

    <div class="assignments-box">
      <table class="assignments-table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
        </tr>


        <tr>
          <td>
            <img src="resources\images\plus-button.png" id="add-assignment-button" class="plus-button">
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>




  </body>
</html>
