<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="challenge.css">
</head>

<body>

<div class="box-left codebox-style" id="challenge-code-box">
<div id="challenge-file-select">
</div>
<pre id="challenge-precode-area" class="line-numbers">
<code id="challenge-code-review" class="language-cpp"></code>
</pre>
</div>

<div class="box-right" id="challenge-comment-box">


   <fieldset>
    <legend>Issues</legend>
<table id="challenge-data-table">
<tr>
<th>Location</th>
<th style= "width: 70%;" >Issue</th>
</tr>
</table>
    <br>
</fieldset>

    <fieldset>
        <legend>Your Time</legend>
      <label id="challenge-timer" class="challenge-timer">00:00</label>
    </fieldset>








 <fieldset>
     <legend>Submit</legend>
<div id="challenge-submit-div">
     <button id="challenge-submit">YES</button>
</div>
     </fieldset>
</div>




<!-- Side Modal with work to review -->
<div id="challenge-code-side-modal" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="challenge-code-side-modal-close">&times;</a>
    <fieldset class="code-review-sidenav-fieldset" id="challenge-code-sidenav-issue-category">
        <legend class="code-review-sidenav-legend">Select the category of the issue</legend>
        <div id="challenge-code-category-select-div">
        </div>
     </fieldset>
</div>
</body>
</html>
