<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="signup.css">
  </head>

  <body>
    <div class="signup-box">

      <div> <!--USER EMAIL TEXTBOX-->
        <label>Email</label>
        <br>
        <input type="textbox" id="signup-email" placeholder="Your @itcarlow.ie email">
      </div>

      <hr>


      <div> <!--FIRST NAME-->
        <label>First Name</label>
        <br>
        <input type="textbox" id="signup-name" placeholder="Your First Name">
      </div>

      <div> <!--SECOND NAME-->
        <label>Last Name</label>
        <br>
        <input type="textbox" id="signup-surname" placeholder="Your Last Name">
      </div>

      <div> <!--FAVOURITE NOUN-->
        <label>Favourite Noun</label>
        <br>
        <input type="textbox" id="signup-noun" placeholder="e.g. pizza, T-Rex, bed">
      </div>

      <hr>


      <div> <!--PASSWORD-->
        <label>Password</label>
        <br>
        <input type="password" id="signup-password">
      </div>

      <div> <!--CONFIRM PASSWORD-->
        <label>Confirm Password</label>
        <br>
        <input type="password" id="signup-confirm-password">
      </div>

      <hr>
      <div> <!--ERROR MESSAGE-->
        <label id="signup-error" class="error-text"></label>
      </div>
      <br>
      <!--SIGN UP BUTTON-->
      <button id="signup-button">Sign up</button>
    </div>
  </body>
</html>
