<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assignments-student.css">
    <link rel="stylesheet" href="../../modals/submit-assignment.css">
  </head>

  <body>

    <div class="assignments-box">
      <table id="student-assignments-table" class="assignments-table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th></th>
        </tr>


        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>




  </body>
</html>
