<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="code-view.css">
</head>

<body>

<div class="box-left" id="code-box">
<div id="file-select">
</div>
<pre id="precode-area" class="line-numbers">
<code id="code-review" class="language-cpp"></code>
</pre>
</div>

<div class="box-right" id="comment-box">
<table id="review-data-table">
<tr>
<th>Location</th>
<th>Error</th>
</tr>
<tr>
<td></td>
<td></td>
</tr>
</table>
<button id="submit-review">Submit Review!</button>
</div>







</body>
</html>
