.selected
{
    outline:3px solid red;
}

.comments-table {

    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.comments-table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align:top;
    word-break:break-all;
}

.comments-table tr:hover {background-color:#f5f5f5;}


.submit-review
{
    position:absolute;
    bottom: 0;
    left:40%;
}